
<!DOCTYPE>
<html>
<head>
    <title> formdata file jquery ajax upload</title>
</head>
<body>
    <div class="pic_right">

<form role="form" id="myForm"  method="post" enctype="multipart/form-data" class="pic_add">
    <div><h3 class="new_add">新增壁纸</h3></div>
    <div class="form-group">
        <div class="pic_box"><span>+</span>
            <div class="thumb-img-box" id="thumb-box"></div>
            <input type="file" name="fulAvatar" id="file_upload" value="" class="picture" placeholder="图片地址" onchange="upImg()">
        </div>
    </div>
    <div class="pic_classify">
        <h3 class="pic_fenlei">选择分类</h3>
        <select class="fenlei">
            <option class="girl">美女</option>
            <option class="animation">动漫</option>
            <option class="landscape">风景</option>
            <option class="game">游戏</option>
            <option class="text">文字</option>
            <option class="vision">视觉</option>
            <option class="emotion">情感</option>
            <option class="creative">设计</option>
            <option class="celebrity">明星</option>
            <option class="stuff">物语</option>
            <option class="art">艺术</option>
            <option class="man">男人</option>
            <option class="cartoon">卡通</option>
            <option class="machine">机械</option>
            <option class="cityscape">城市</option>
            <option class="animal">动物</option>
            <option class="sport">运动</option>
            <option class="movie">影视</option>
        </select>
    </div>
    <div class="yn_re"><h3 class="tuijian">是否推荐</h3><select class="re"><option>不推荐</option><option>推荐</option></select></div>
    <div class="pic_biaoqian"><h3 class="biaoqian">添加标签</h3><input type="text" class="add_tags" placeholder="添加标签"></div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
           <input type="button" onclick="selectImg()" class="upimg" value="上   传">
        </div>
    </div>
    <div class="search">
        <h3 class="sousuo">壁纸搜索</h3>
        <p>全部</p>
        <input class="sw" type="text" placeholder="壁纸搜索">
    </div>
    <input class="delete" value="删除壁纸" type="button">
</form>
<button class="quxiao">取 消</button>
<div class="pic_all" id="pic_all"></div>
</div>
 <script>
     $(function(){
         var str="";
         $.ajax({
             url:"/users/pic_all",
             type:"post",
             success:function(data){
                 $.each(data,function(i){
                     str+="<img class='imgs' data-src="+ data[i].wq+" ename="+data[i].ename+" data_url="+ data[i].cid+" src='/images/timg.gif'><span class='glyphicon glyphicon-remove-circle'></span>";
                 })
                 $(".pic_all").html(str);
                 lazy();
             }
         })
         //全部壁纸
         $(".search>p").click(function(){
            var str3="";
            $.ajax({
                url:"/users/pic_all",
                type:"post",
                success:function(data){
                    $.each(data,function(i){
                       str3+="<img class='imgs' data-src="+ data[i].wq+" ename="+data[i].ename+" data_url="+ data[i].cid+" src='/images/timg.gif'><span class='glyphicon glyphicon-remove-circle'></span>";
                    })
                    $(".pic_all").html(str3);
                    lazy();
                }
            })
         })
           //搜索壁纸
         $(".sw").change(function(){
             var wp_val = $(".sw").val();
             var str6 = ""
             $.ajax({
                 url:"/users/swp",
                 type:"post",
                 data:{wp:wp_val},
                 success:function(data){
                     if(data.length!=0){
                            $.each(data,function(i){
                                if(data[i]!=null){
                                    str6+="<img class='imgs' data-src="+ data[i].wq+" ename="+data[i].ename+" data_url="+ data[i].cid+" src='/images/timg.gif'><span class='glyphicon glyphicon-remove-circle'></span>";
                                }
                            })
                            $(".pic_all").html(str6);
                            lazy();
                        }else{
                          str6="<p>暂时没有您要搜索的图片。。。。。。</p>";
                          $(".pic_all").html(str6);
                          lazy();
                        }
                      }
             })
         })
         $(".delete").click(function(){
             $(".pic_all>span").css("display","block");
             $(".quxiao").css("display","block");
             $(".pic_all>span").on("click",function(){
                var url = $(this).prevAll().attr("data_url");
                var ename = $(this).prevAll().attr("ename");
                 $.ajax({
                     url:"/users/deloader",
                     type:"post",
                     data:{
                         url:url,
                         ename:ename
                     },
                     success:function(data){
                         console.log(data);
                     }
                 })
                 $(this).prevAll().remove();
                 $(this).remove();
                
             })
         })
         $(".quxiao").click(function(){
            $(".quxiao").css("display","none");
            $(".pic_all>span").css("display","none");
         })

       //懒加载

        function lazy(){
        var  scrollTop = $(".pic_all").scrollTop();
        var imgs = Array.from(document.querySelectorAll('.imgs'));
        lazyLoad();
        $(".pic_all").scroll(function(){
            scrollTop =  $(".pic_all").scrollTop();
            lazyLoad(); 
        })
        function lazyLoad(){
            imgs.forEach((item,index)=>{
                if( item.offsetTop < window.innerHeight + scrollTop ){
                    item.setAttribute('src',item.dataset.src)
                }
            })
        }

       }
     })
 </script>
<script type="text/javascript">
        function upImg(){
            var fileInput=document.getElementById("file_upload");//文件选择按钮
            var imgDivs=document.getElementById("thumb-box");//图片容器
                if(window.FileReader){//支持FileReader的时候
                    var reader=new FileReader();
                    reader.readAsDataURL(fileInput.files[0]);
                    reader.onload=function(evt){
                        imgDivs.innerHTML="<img src="+evt.target.result+"\>";
                    }
                }else{//兼容ie9-
                    imgDivs.innerHTML='<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + fileInput.value + '\)\';"></div>';
                }
            }
        function selectImg(fileInputs){
            var fileInputs = document.getElementById("file_upload");
            var checkImg=new RegExp("(.jpg$)|(.png$)|(.bmp$)|(.jpeg$)","i");
                 if(checkImg.test(fileInputs.value)){
                     uploadByForm();
                }else{
                      alert("只支持上传.jpg .png .bmp .jpeg;你的选择有误");
                 }

        }

    /**
     * ajax 上传。
     */
    function uploadByForm() {
        //用form 表单直接 构造formData 对象; 就不需要下面的append 方法来为表单进行赋值了。
        var formData = new FormData($("#myForm")[0]);
        var url = "/users/uploader";
        var options =  $(".fenlei option:selected");
        var ename = options.attr("class");
        var tags =$(".fenlei").val()+$(".add_tags").val();
        var re = $(".re").val();
        $.ajax({
            url: url,
            type: 'POST',
            data: formData,

            /**
             * 必须false才会避开jQuery对 formdata 的默认处理
             * XMLHttpRequest会对 formdata 进行正确的处理
             */
            processData: false,
            /**
             *必须false才会自动加上正确的Content-Type
             */
            contentType: false,
            success: function (responseStr) {
                // $("img").attr({"src": responseStr.newPath}).prependTo($("body"));
                console.log(responseStr.newPath);
                $.ajax({
                    url:"/users/upload",
                    type:'post',
                    data:{
                        "ename":ename,
                        "tags":tags,
                        "wq":responseStr.newPath,
                        "avatarName":responseStr.avatarName,
                        "re":re
                    },
                    success:function(data){
                        console.log(data)
                    }
                })
                window.location.href="wallpaper";
            },
            error: function (responseStr) {
                alert(responseStr.newPath);
            }
        });


     
    }
   
</script>
</body>
</html>